[[source]]
url = "https://oauth2accesstoken@pypi.kognic.io/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
fastapi = "==0.104.1"
uvicorn = {extras = ["standard"], version = "==0.24.0"}
pydantic = "==2.5.0"
schemathesis = "==3.19.7"

[dev-packages]

[requires]
python_version = "3.13"
